/* rgba(0,61,143,255) blå
   rgba(212,0,0,255) red
   rgba(238,238,238,255)
   rgb(79,120,175) ljusblå 
*/
*{
  margin: auto;
  padding: auto;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 200px;
}


h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  width: 500px;
  margin-left: 200px; 
}


p {
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
  width: 500px;
  margin-left: 200px;
  margin-top: -12px;
  margin-bottom: 50px;
  line-height: 130%;
}



/* Header */



.button_source {
  display: flex;
  justify-content: right;
}

.button_source > button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(79,120,175);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 20px 20px 0 0;
  cursor: pointer;
}

.button_source > button:hover {
  background-color:rgb(0, 61, 143) ;
}

.header_nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  padding: 10px 0; 
}

.header_nav button {
  background-color: rgb(79,120,175);
  border: none;
  border-radius: 5px;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.header_nav button:hover {
  background-color:rgb(0, 61, 143) ;
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
}

.header_nav button:active{
  color: black;
  transform: scale(1.0, 1.0);
  -webkit-transform: scale(1.0, 1.0);
  -moz-transform: scale(1.0, 1.0);
}

.section{
  display: block;
  unicode-bidi: isolate;
}


/* SEKTION 1 */
.section1 {
  display: flex;
  column-gap: 250px;
  margin: 200px 0px 100px 0px;
  justify-content: center;
}

.section1_svg {
  height: 300px;
  border: 2px;
  width: 270px;
  margin-top: 30px;
  margin-bottom: 50px;
}



/* SEKTION 2 */

/* SEKTION 3 */


/* SEKTION 4 */




/* footer */
.footer{
  background-color:rgb(79,120,175) ;
  height: 350px;
  display: block;
  unicode-bidi: isolate;
}

.footer_container {
  padding-top: 20px;
}

.footer_h2 {
  font-size: 20px;
  width: 550px;
  color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer_h3 {
  color: rgb(255, 255, 255);
  padding-top: 10px;
}

.footer_buttons {
  display: flex;
  margin: 10px 0px 0px 200px;
  column-gap: 10px;
}

.footer_buttons > div {
  margin: 0;
}

.footer_buttons > div > button {
  border: none;
  border-radius: 5px;
  color:black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


button:hover {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);

}

button:active {
  transform: scale(1.0, 1.0);
  -webkit-transform: scale(1.0, 1.0);
  -moz-transform: scale(1.0, 1.0);
}

.footer_button1:focus {
  background-color:rgb(99, 240, 111);
}

.footer_button2:focus {
  background-color:rgb(206, 54, 54);
}



